* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-style: none;
    text-decoration: none;
  
  }

.list {
    display: flex;
    background-color: #085195;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }