* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-style: none;
  text-decoration: none;
}

html {
  background-color: #FFFFFF;

}

.App {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; 
}


@media(max-width:1140px) {
  .App {
    flex-direction: column;
  }

  .imageContainer {
    width: 100% !important;
    order: 2 !important;
    margin-top: 100px !important;
    
  }

  .circleEffectsArea {
    flex-direction: column !important;
  }

  .textContainer {
    order: 1 !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titles {
    margin: 100px 0 0 50px !important;
  }
}
@media(max-width:580px) {
    .titles {
      margin: 100px 5px 0 40px !important;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center !important;
      justify-content: center;
      gap: 0px;
      
    }
    .titles h2, .titles h1{
      font-size: 30px !important;
      width: 100% !important;
      /* white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important; */
    }

    .buttons{
      flex-direction: column !important;
      display: flex;
      margin: 40px 0 0 0 !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 30px !important;
    }
    .App{
      overflow: hidden !important;
    }
  
}

.imageContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(201deg, rgba(130, 121, 189, 0.88) 2.33%, rgba(77, 144, 158, 0.47) 96%);
}

.imageContainer img {
  height: 100vh;
  max-width: 90%;
}


.Effect {
  position: absolute;
  width: 572px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: linear-gradient(201deg, rgba(130, 121, 189, 0.88) 2.33%, rgba(77, 144, 158, 0.47) 96%);
}

.textContainer {
  box-sizing: border-box;
  width: 55%;
  height: 100vh;
  font-family: 'ABeeZee';
}

#circleEFfectElipse {
  width: 252px;
  height: 239px;
  left: -56px;
  top: 11px;
  background: rgba(8, 81, 149, 0.62);
  filter: blur(100px);
}

.circleEffectsArea {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 130px;
}

.titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 35px;
  margin: 0 90px;
  margin-top: 100px;
}

.titles h2 {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #085195;
  width: 280px;
}

.titles h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #085195;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  margin-left: 90px;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12em;
  flex-direction: column;
  color: #085195;
  font-family: 'ABeeZee';
  font-style: normal;
}